<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/token" method="POST">
        <label for="clientId">ClientId</label>
        <input id="clientId" type="text" name="client_id">
        <label for="clientSecret">ClientSecret</label>
        <input id="clientSecret" type="text" name="client_secret">

        <input type="submit" value="Get Token">
    </form>
</body>

</html>