<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Access information for Spotify API</h1>
    <div>
        <p>Access Token:</p>
        <p>Bearer <%= access_token %>
        </p>
    </div>

    <a href="/">Back to Home</a>
</body>

</html>